.Box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 30rem;
}
.Hospitals {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  margin: 1rem;
}
.wrapper{
  text-align: center;
}