body{
    background-color: #7868e6;

}
/* heading and heading paragraph */
.register-heading {
    color: #ffffff;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 4% auto 0 auto;
    text-align: center;
}
.register-heading h1{
    font-weight: bolder;
}

.register
{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid;
    border-color: red;
    padding: 40px;
}

.hospital-label{
    color: white;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}   

.hospital-inputs{
    padding: 5px;
    border: 2px solid ;
    border-radius: 5px;

    display: inline-block;
    box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;

}

input[type=submit]:hover {
  background-color: #45a049;
}

