.detail_box {
  margin: 0.2rem; 
  background-color: #3f51b5;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name {
  font-size: 1.3rem;
}
