/* .ContactUs {
  background-color: #7868e6;
  #3f51b5
} */
/* body {
  background-color: #000000;
  margin: 12rem;
  font-size: 10rem;
} */
/* heading and heading paragraph */
.ContactUs {
  width: 100%;
  height: 100%;
  background-color: #fbeeac;
  border-radius: 0% 0% 100% 0%;
}
.contactHeading {
  color: black;
  font-family: "Nanum Gothic", sans-serif;
  padding: 2rem 0 0 0;
  text-align: center;
}
.contactHeading h1 {
  font-weight: bolder;
}
.contactHeading p {
  font-size: 1.1rem;
  margin-top: 2%;
  font-weight: 600;
}
/* properties for flex container */
.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Nanum Gothic", sans-serif;
  justify-content: center;
}
.flexItem {
  margin: 3rem 3rem 0 3rem;
  padding: 2rem;
  width: 30rem;
}
.contact_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}
/* flex container one ie address phone and email */
.address,
.phone,
.email {
  color: #046582;
  font-weight: bolder;
  padding-left: 1rem;
}
.address h3,
.phone h3,
.email h3 {
  color: black;
  font-size: 1.4rem;
  font-weight: bolder;
}
.address p,
.phone p,
.email p {
  font-size: 1rem;
  margin-top: 4%;
}
.locationImg,
.phoneImg,
.emailImg {
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  height: 5rem;
  width: 5rem;
}
/* font awesome used here  */
.fa-envelope,
.fa-phone-alt,
.fa-map-marker-alt {
  display: block;
  margin: auto;
  margin-top: 22px;
  text-align: center;
}
.fa-envelope:hover,
.fa-phone-alt:hover,
.fa-map-marker-alt:hover {
  color: #fdb827 !important;
}

/* flex container two ie send message  */
.UserName,
.UserEmail,
.UserMessage,
.button_ {
  margin: 0.5rem;

}
.UserMessage {
  margin-top: 3rem;
}
#UserEmail,
#UserName {
  border: 0;
  border-bottom: 2px solid;
}
#UserEmail,
select,
#UserMessage,
#UserName {
  color: grey;
}

#UserMessage:focus,
#UserEmail:focus,
#UserName:focus {
  color: black;
}
.contactbox {
  background-color: #ffffff;
  margin-bottom: 1rem;
  border: 1px solid #fbeeac;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactboxHeading {
  color: #046582;
  font-weight: 600;
}
.UserMessage textarea {
  resize: none;
}
